.shop {
  padding: 20px;
}

.shop-title {
  margin-bottom: 20px;
  text-align: center;
}

.shop-title h1 {
  font-size: 2em;
}

h3,
h1 {
  text-align: center;
}

h1 {
  font-size: 40px;
}

.filter-section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-label {
  font-size: 1.2em;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.filter-label.active {
  color: #4f93e6;
}

.price-filter,
.rating-filter {
  margin-bottom: 10px;
}

.price-filter input,
.rating-filter input {
  margin-right: 10px;
  padding: 5px;
}

.filter-options {
  margin-bottom: 20px;
}

.filter-button {
  background-color: #007bff; /* Primary color */
  color: #fff; /* White text */
  border: none;
  border-radius: 8px;
  padding: 12px 20px; /* Padding for the button */
  font-size: 16px; /* Font size */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px; /* Space above the button */
  text-align: center; /* Center text inside the button */
}

.filter-button:hover {
  background-color: #74b2f8;
  transform: scale(1.08);
}

.filter-button.active {
  background-color: #67a6ed;
  color: #fff;
  border: 2px solid #1b60b5;
  transform: scale(1.1);
}

button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 12px;
  border: 1px solid #4f93e6;
  border-radius: 4px;
  background-color: #4f93e6;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.08);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #4f93e6;
  border-radius: 4px;
  background-color: #4f93e6;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #74b2f8;
}
