body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
}

.navbar {
  position: fixed; /* Fixes the navbar to a specific position */
  left: 0; /* Aligns the navbar to the left edge */
  top: 0; /* Aligns the navbar to the top edge */
  height: 100vh; /* Makes the navbar take the full height of the viewport */
  width: 150px; /* Set a fixed width for the navbar */
  background-color: #333; /* Background color for the navbar */
  display: flex; /* Enables flexbox for the navbar */
  flex-direction: column; /* Makes the links stack vertically */
  padding: 20px; /* Adds some padding */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Adds a shadow for better separation */
}

.navbar a {
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.content {
  margin-left: 200px; /* Adds a left margin to make room for the navbar */
  padding: 30px; /* Adds some padding */
  width: calc(100% - 200px); /* Adjusts the width of the content */
}

.error {
  text-align: center;
  font-size: 20px;
  color: red;
}

@media screen and (max-width: 830px) {
  .content {
    margin-left: 0;
    margin-top: 100px;
    padding: 20px;
    height: calc(100% - 100px);
    width: 100%;
  }
}
